body {
    background-color: #FFF0E5;
    text-align: center;
    min-width: 1200px;
}

header {
    width: 96%;
    display: flex;
    justify-content: space-between;


}

#site_title {
    margin: 10px 0 20px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #FFA07A;
    text-shadow: 2px 2px 2px #FF6347;
}

#logo img {
    width: auto;
    height: 80px;
    margin: 20px;

}

p {
    line-height: 1.5;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 80px 20px 0;
    height: 120px;
}

nav li {
    font-size: 30px;
    display: inline-block;
    margin: 20px;
}

nav a {
    color: black;

}

nav a:hover {
    color: #FF6347;
    background-color: white;
}

main.home-page {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 40px 20px 40px;

}

.container {
    border: solid #FF6347;
    padding-left: 10px;
    padding-right: 10px;
}

.container h3 {
    color: #1E90FF;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left-column {
    width: 64%;
    text-align: left;
    margin: 20px 20px 20px 20px;
    min-width: 640px;
}

.right-column {
    width: 30%;
    text-align: left;
    margin: 20px 20px 20px 20px;
}

.toolbar {

    display: flex;
    justify-content: space-around;
    align-items: start;
    margin-bottom: 20px;
}

.toolbar div {
    margin-right: 10px;
}

.toolbar .browse,
.toolbar .search {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 20px;
    padding: 10px;

}

#page-number {
    width: 3em;
}

#title-search {
    width: 12em;
    margin-right: 10px;
}

#id-search {
    width: 6em;
}

ol.movies-list {

    list-style-type: decimal;




}




.movies-list .movie-head,
.movies-list .column-name {
    position: relative;
    display: grid;
    gap: 5px;
    grid-template-columns: 4fr 1fr 3fr 0.25fr;
    justify-content: start;
    align-items: center;

}


.movies-list .empty-result {
    width: 100%;
    height: 400px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #FF6347;
    margin-top: 20px;
    margin-bottom: 20px;
}

.movies-list .column-name {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.movies-list .movie-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
}

.movies-list .movie-title:hover {
    color: #FF6347;
}

.movies-list .popularity {
    color: #E74C3C;
}

.movies-list .genres {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.movies-list .genres span {
    background-color: #FF6347;
    color: white;
    padding: 2px 3px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    margin-right: 5px;
}

.movies-list .folding:hover {
    color: #FF6347;
    cursor: pointer;
}

/* movie-details */
.movie-details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    /* margin: 0 80px 20px 80px; */
}

.movie-details .poster {
    width: 185px;
    height: 278px;
    border: solid #FF6347 2px;
    margin: 20px 20px 20px 20px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex: 0 0 auto;
    position: relative;
}

.poster .tooltip {
    font-size: 16px;
    visibility: hidden;
    width: 200px;
    background-color: #FF6347;
    color: #FFF0E5;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 50%;
    left: 50%;
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.poster:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.movie-details .poster:hover {
    cursor: pointer;
}



.movie-details .info {
    width: 60%;
    text-align: left;
    margin: 20px 20px 20px 20px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.movie-details .info input {
    padding: 5px;
    margin: 10px 0 10px 0;

}

.movie-details .info blockquote {
    font-size: 20px;
    font-style: italic;
    color: #1E90FF;
    margin: 10px 0 10px 0;
    max-height: 60px;
    overflow: auto;

}

.movie-details .info p.overview {
    max-height: 120px;
    text-overflow: ellipsis;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info .produce-info {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    align-items: center;
    font-weight: bold;
    width: 96%;
}

.produce-info i {
    margin-right: 5px;
}

.movie-details .info .manage-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

 /* editing form   */
.movie-details .poster.editing:hover{
    cursor: default;
}

.movie-details input[readonly] {
    background-color: #F5F5F5;
    border: none;
}



.movies-list .button-div {
    padding-top: 5PX;
    padding-bottom: 5PX;

    display: flex;
    justify-content: end
}

.movies-list button {
    background-color: white;
    margin-right: 20px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    width: 160px;
}

.movies-list button i {
    padding: 5px;
}

button.search {
    border-color: #FF6347;
    color: #FF6347;
    border: solid #FF6347;
}

button.search:hover {
    background-color: #FF6347;
    color: white;
}

button.highlight {
    border-color: #FFD300;
    color: #FFD300;
    border: solid #FFD300;
}

button.highlight:hover {
    background-color: #FFD300;
    color: white;
}

button.highlighted {
    border-color: #333333;
    color: #333333;
    border: solid #333333;
}

button.highlighted:hover {
    background-color: #333333;
    color: white;
}

.movies-list p.highlighted {
    background-image: linear-gradient(to bottom, #FFD300, #FFD300);
    color: white;
    display: inline;
}

button.delete {
    border-color: #1E90FF;
    color: #1E90FF;
    border: solid #1E90FF;
}

button.delete:hover {
    background-color: #1E90FF;
    color: white;
}

button.edit {
    border-color: #008000;
    color: #008000;
    border: solid #008000;
}

button.edit:hover {
    background-color: #008000;
    color: white;
}